<form #form="ngForm" (ngSubmit)="getRestaurantsByOutcode()">
    <div class="input-group">
        <label for="outcode">outcode</label>: 
        <input id="outcode" placeholder="enter an outcode" type="text" name="outcode" [(ngModel)]="outcode" required />
    </div>
    <button type="submit" [disabled]="!form.valid">click me</button>
</form>

<div *ngIf="noRestaurantsFound">
    <p>No nearby restaurants found</p>
</div>

<ul class="restaurant-list">
    <li class="restaurant-item" *ngFor="let restaurant of restaurants">
        <div>          
            <span>name:</span> {{restaurant.name}}
        </div>
        
        <div>
            <span>rating:</span> {{restaurant.rating}}
        </div>

        <div>
            <span>cuisine types:</span> {{restaurant.cuisineTypes}}
        </div>    
    </li>
</ul>  